---
layout: default
---

{% include lang.html %}
<p>참여한 프로젝트</p>
<!-- 중앙 정렬 및 타이틀 텍스트, 버튼 추가 -->
<div class="container">
  <h3>Strayer</h3>
  <button class="project-button" onclick="window.location='{{ site.baseurl }}/projects/_pages/Strayer.html'">자세히 보기</button>




</div>

{% assign pinned_posts = site.posts | where: 'pin', 'true' %}
{% assign regular_posts = site.posts | where_exp: 'item', 'item.pin != true and item.hidden != true' %}
{% assign posts_to_display = '' | split: '' %}

{% assign offset = paginator.page | minus: 1 | times: paginator.per_page %}
{% assign pinned_count = pinned_posts.size | minus: offset %}

{% comment %} Pinned Posts Processing {% endcomment %}
{% if pinned_count > 0 %}
  {% for i in (offset..pinned_posts.size) limit: pinned_count %}
    {% assign posts_to_display = posts_to_display | push: pinned_posts[i] %}
  {% endfor %}
{% else %}
  {% assign pinned_count = 0 %}
{% endif %}

{% comment %} Regular Posts Processing {% endcomment %}
{% assign regular_start = offset | minus: pinned_posts.size | default: 0 %}
{% assign regular_count = paginator.posts | size | minus: pinned_count %}
{% assign regular_end = regular_start | plus: regular_count | minus: 1 %}

{% if regular_count > 0 %}
  {% for i in (regular_start..regular_end) %}
    {% assign posts_to_display = posts_to_display | push: regular_posts[i] %}
  {% endfor %}
{% endif %}

{% comment %} Render Posts {% endcomment %}
{% for post in posts_to_display %}
  {% assign card_body_col = '12' %}
  {% if post.image %}
    {% assign src = post.image.path | default: post.image %}
    {% unless src contains '//' %}
      {% assign src = post.img_path | append: '/' | append: src | replace: '//', '/' %}
    {% endunless %}
    {% assign alt_text = post.image.alt | xml_escape | default: 'Preview Image' %}
    {% assign lqip_tag = post.image.lqip | prepend: 'lqip="' | append: '"' %}

    <img src="{{ src }}" alt="{{ alt_text }}" {{ lqip_tag }}>
    {% assign card_body_col = '7' %}
  {% endif %}

  <div class="post-title">{{ post.title }}</div>
  {% include no-linenos.html content=post.content %}
  <p>{{ post.content | markdownify | strip_html | truncate: 200 | escape }}</p>
  {% include datetime.html date=post.date lang=lang %}
  
  {% if post.categories.size > 0 %}
    <span class="categories">
      {% for category in post.categories %}
        {{ category }}{% unless forloop.last %}, {% endunless %}
      {% endfor %}
    </span>
  {% endif %}

  {% if post.pin %}
    <span class="pinned">{{ site.data.locales[lang].post.pin_prompt }}</span>
  {% endif %}
{% endfor %}

{% if paginator.total_pages > 1 %}
  {% include post-paginator.html %}
{% endif %}


<p>추후 업데이트를 기다려주세요</p>
